.container{
    overflow: hidden;
    border: solid 2px #1A5C40;
    padding-top: 3rem;

}

.split{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: rem-calc(40);
    text-align: center;
    color: #1A5C40;
}