#hero{
    background-image: url("..img/orange-hero.png");
    background-size: cover;
    background-position: center bottom;
    height: 60vh;

    #overlay{

        section{

            h1{

            }

            button{

            }
        }
    }
}